/* Drag and Drop */
.container {
  height: 230px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(137, 194, 217, 0.21);
}
.Uploaded-Img{
  height: 244px;
  width: 715px;
  margin-top: -30.3%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.5;

}

.header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}

/*---Skills---*/
.hidden{
  opacity: 0;
}

/*---Project---*/
.Reveal{
width: 80%;
}

/*--- Nav Bar ---*/
.is-stuck{
position: fixed;
}

/* ---Smooth Scroll---*/
html{
scroll-behavior: smooth;
}


/*---Scroll Bar---*/
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-track{
background: rgb(30, 30, 30);
}
::-webkit-scrollbar-thumb{
background: linear-gradient(rgb(55, 86, 170, 0.7), rgb(138, 68, 153, 0.7));
border-radius: 10px;
}

/*--- Loco Scroll ---*/
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll*/
html.has-scroll-smooth {
overflow: hidden; }

html.has-scroll-dragging {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }

.has-scroll-smooth body {
overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
height: 100vh;
display: inline-block;
white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
display: inline-block;
vertical-align: top;
white-space: nowrap;
height: 100%; }

.c-scrollbar {
position: absolute;
right: 0;
top: 0;
width: 11px;
height: 100%;
transform-origin: center right;
transition: transform 0.3s, opacity 0.3s;
opacity: 0; }
.c-scrollbar:hover {
  transform: scaleX(1.45); }
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; }
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1); }
  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3); }

.c-scrollbar_thumb {
position: absolute;
top: 0;
right: 0;
background: linear-gradient(rgb(55, 86, 170, 0.7), rgb(138, 68, 153, 0.7));;
opacity: 0.5;
width: 7px;
border-radius: 10px;
margin: 2px;
cursor: -webkit-grab;
cursor: grab; }
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing; }
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0; }

  .connect{
    width: 78px;
height: 30px;
background-color: white;
border-radius: 10px;
text-align: center;
background-color: rgb(127, 255, 212);
transition: 300ms;
font-size: 90%;
letter-spacing: 1.30px;
font-family: 'Do Hyeon', sans-serif;

&:hover{
background-color:  rgba(256, 256, 256);
scale: 107%;
}
  }

  /*Gradient*/
